<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FRB Carousel Prototype</title>
    <meta name="viewport" content="width=device-width">
    <!-- reset styles -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- carousel styles -->
    <link rel="stylesheet" href="css/carousel.css">
  </head>

  <body>
    <section class="carousel-container">

      <!-- marionette content display area -->
      <div id="frb_carousel" class="frb_carousel-frame"></div>

      <!-- add future marionette display areas here for dot or thumb nav, image info display, etc -->

      <!-- user controls -->
      <div class="control prev"></div>
      <div class="control next"></div>

    </section>

    <!-- require js call -->
    <script data-main="scripts/application" src="scripts/require.js"></script>

    <!-- single image 'template' for MArionette ItemView, load from own file to make more robust -->
    <script type="text/template" id="item-template">
      <img src = "<%- src %>" alt = "<%- alt %>" title = "<%- title %>" data-id ="<%- id %>" class="carousel-image">
    </script>
  </body>

</html>

